body {
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 20px;
  }

.navbar li {
    float: left;
    text-align: center;
    margin: 0 auto;
    padding-left: 40px;
    color: #67615f;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    vertical-align: middle;
    padding-top: 30px;
    font-weight: bold;
}

.navbar a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.navbar img {
    float: left;
    height: 4.5em;
}

.navbar div {

}

.navbar h4 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    color: #67615f;
    padding-bottom: 50px;

}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    padding-left: 250px;
    text-align: center;
    align-items: baseline;
}
    
.div1 {
    grid-row: span 2 / span 2;
    text-align: center;
}

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
    text-align: center;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: center;

}

.div7 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: left;
}

.div8 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
    text-align: left;
}

.div9 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 1;
    text-align: left;

}

.div10 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    text-align: left;
}
        

.navbar button {
    float: right;
    background-color: #184cac;
    border-color: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 4em;
    width: 10em;
}

.button-body {
    float: middle;
    background-color: #184cac;
    border-color: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 4em;
    width: 20em;
}

.h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
}


.triangle {
    padding-top: 300px;
    align-items: center;
    height: 20px;
    width: auto;
}

* {box-sizing: border-box;}
.mySlides {display: inline-block;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    padding-top: 100px;
  max-width: 1800px;
  float: middle;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}